
.DS_Store
JKAutoReleaseTimer.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
JKAutoReleaseTimer.xcodeproj/project.xcworkspace/xcuserdata/jiangpeng.xcuserdatad/UserInterfaceState.xcuserstate
JKAutoReleaseTimer.xcodeproj/xcuserdata/jiangpeng.xcuserdatad/xcschemes/xcschememanagement.plist
